* {
    box-sizing: border-box;
}
  
body {
    margin: 0;
    font-family: arial;
    background-color: #f2f2f2;
}

/* NAV STYLES */
nav {
    background-color: black;
    overflow: hidden;
    width: 100%;
}
nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.home {
    background-color: #0080ff;
    color: #f2f2f2;
}
nav .icon {
    display: none;
}
nav a:hover {
    background-color: #555;
    color: white;
}

/* HEADER */
header {
    background: linear-gradient(to bottom, black 0%, #333 100%);
    padding-top: 200px;
    padding-bottom: 200px;
    background-size: 100%;
}
header h1 {
    margin: 0;
    padding: 20px;
    font-size: 60px;
    text-align: center;
    color: #f2f2f2;
}
header p {
    margin: 0;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    color: #0080ff;
}

/* MAIN CONTENT */
.content {
    background-color: #f2f2f2;
    max-width: 800px;
    margin: auto;
    padding: 16px 0;
    font-size: 16px;
    line-height: 1.5;
}

/* IMAGES */
img {
    width: 100%;
    border: 1px solid;
}

/* FOOTER */
footer {
    width: 100%;
    background-color: #333;
    padding: 20px;
    color: #f2f2f2;
}
footer a, footer a:visited {
    color: white;
    text-decoration: none;
    float: right;
}
footer a:hover {
    color: gray;
    text-decoration: none;
}

/* FOR PHONES */
@media screen and (max-width: 600px) {
    nav a:not(:first-child) {display: none;}
    nav a.icon {
        float: right;
        display: block;
    }
    nav.responsive {position: relative;}
    nav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    nav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

@media screen and (max-width: 850px) {
    .content {
        width: 100%;
        padding: 0px 20px 0px 20px;
    }
}