body {
    background-color: black;
}
h1 {
	color: MediumSeaGreen;
	font-family: Courier New;
}
p {
	color: MediumSeaGreen;
	font-family: Courier New;
}
a {
	color: MediumSeaGreen;
	font-family: Courier New;
}