body {
    background-color: black;
}
h1 {
	color: MediumSeaGreen;
	font-family: Courier New;
}
p {
	color: MediumSeaGreen;
	font-family: Courier New;
}
a {
	color: MediumSeaGreen;
	font-family: Courier New;
}
.topnav {
    overflow: hidden;
}
.topnav a {
    float: left;
    color: MediumSeaGreen;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}