body {
    background-color: black;
}
h1 {
	color: mediumseagreen;
	font-family: Courier New;
}
h3 {
<<<<<<< HEAD
	color: mediumseagreen
=======
	color: MediumSeaGreen;
	font-family: Courier New;
>>>>>>> 391ef16ec0840a32a595871a6b14f7bdc3e755db
}
p {
	color: mediumseagreen;
	font-family: Courier New;
}
pre {
	color: mediumseagreen;
	font-family: Courier New;
}
a {
	color: mediumseagreen;
	font-family: Courier New;
}
a:link {
    color: Lime; 
    background-color: transparent; 
    text-decoration: none;
}
a:visited {
    color: Lime;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: #ddd;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: tomato;
    background-color: transparent;
    text-decoration: underline;
}
.topnav {
    overflow: hidden;
}
.topnav a {
    float: left;
    color: mediumseagreen;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
